/* ****************************/
/* ejs main style sheet *******/
/******************************/
body {
	background-image: url("../images/ocean.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Here is the css of top box */
/* this is where I fix the margin of the top box */
iframe {
	float: left;
	margin-left: 52px;
	margin-top: 21px;
}

.row1 {
	float: right;
	font-family: arial;
	height: 57px;
	border: solid;
	width: 50.5%;
	line-height: 0%;
	background-color: white;
	padding: 5px 10px 10px 15px;
	margin-top: 0px;
	margin-right: 321px;
	margin-bottom: 51px;
}
/* Here is the spacing adjustment on the top*/
.space1 {
	height: 5%;
}
/* Here is the spacing adjustment on the middle of two boxes*/
.space2 {
	width: 5%;
}

/* Here is the css of whole middle box row*/
.row {
	display: flex;
	height: 250px;
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
}

/* Here is the css of both middle box (left and right)*/

.col {

	flex: 1;
	padding: 1em;
	border: solid;
	background-color: white;
}
.p0 {
	margin:0px;
}

.p1 {
	float: left;
}

.p2 {
	float: right;
	text-align: right;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.p3 {
	margin-top: 5px;
}

.p4 {
	margin-top: -10px;
	display: inline-block;
}

.p5 {
	margin-top: 5px;
	display: inline-block;
}

.divClear {
	clear: both;
}

.space {
	padding: 1em;
	border: none;
}

/* Here is the css of bottom box */
.row2 {
	height: 91px;
	border: solid;
	width: 80x.5%;
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: white;
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	flex: 1;
	padding: 1em;
}